.cont{
    background-color: #eb7a53;
    border-radius: 30px;
    padding: 50px;
    width: 400px;
}

  #one{
    padding: 12px;
     border-radius:30px;
     background-color: #f7d44c;
     margin-top: 10px;
     width: 480px;
    
     
  }
span{
    color: #f6ecc9;
    position: absolute;
    left: 250px;
    
    
}
#edit{
    border: none;
    width: 70px;
    border-radius: 30px;
    padding: 2px;
    height: 40px;
    background-color:#a8d672;
    margin: 5px;
}
#delete{
    border: none;
    width: 70px;
    border-radius: 30px;
    padding: 2px;
    height: 40px;
    background-color: rgb(211, 39, 39);
    margin: 5px;
}
.date{
    margin-top:20px;
}

#two{
    padding: 12px;
     border-radius:30px;
     background-color: #f7d44c;
     margin-top: 10px;
     width: 480px;
    
}
#three{
    padding: 12px;
     border-radius:30px;
     background-color: #f7d44c;
     margin-top: 10px;
     width: 480px;
}

#four{
    padding: 12px;
     border-radius:30px;
     background-color: #f7d44c;
     margin-top: 10px;
     width: 480px;
}

#five{
    padding: 12px;
     border-radius:30px;
     background-color: #f7d44c;
     margin-top: 10px;
     width: 480px;
}

#six{
    padding: 12px;
     border-radius:30px;
     background-color: #f7d44c;
     margin-top: 10px;
     width: 480px;
}

#seven{
    padding: 12px;
     border-radius:30px;
     background-color: #f7d44c;
     margin-top: 10px;
     width: 480px;
}
input{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 30px;  
    flex-direction: row;
    background-color:#98b7db;
    padding: 5px;
}
h3{
     position: absolute;
     top: 2px;
}
.cont button{
    border: none;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 330px;
    border-radius: 30px;
    padding: 5px;
    height: 40px;
}
