.opt{
    border: 10px;
    padding: 10px;
    background-color: #f7d44c;
    width: 400px;
    text-align: center;
    height: 150px;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
h1{
    color: #ffffff;
    position: absolute;
    top: 20px;
    left: 100px;

}
input{
    height: 25px;
    border-radius: 2px;
    width: 200px;
}
button{
    height: 30px;
    border-radius: 2px;
    width: 50px;

}
.btn{
    display: block;
    margin-top: 100px;
    position: absolute;
    top: -15px;
    margin-left:70px;
}
#td1{
    display: flex;
    justify-content: space-between;
    background-color: #a8d672;
    width: 420px;
    height: 50px;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
    border-radius: 5px;
    align-items: center;
    margin-top: 20px;
}
#td1 > button {
    background-color: black;
    color: #98b7db;
    height: 100%;
}
.todos{
    display:flex;
    flex-direction: column;
    height:auto;
    
}